@import 'logo/logo';
@import '/lib/playspace-spaceman';

/**
 * Space man logo.
 */

.logo[data-logo="space-man-blockly"] {
  width: 3.1285714285714286em;
}

.logo[data-logo="space-man-blockly"] > * {
  background-image: url(/apps/space-man-blockly/astronaut_air.png);
  margin: 0 0 0 0;
}
