@import '/lib/playspace-p5-grid';
@import '/lib/workspace-blockly';

/**
 * Space man logo.
 */


#shapes-blockly .title-left {
  background-image: url(/apps/shapes-blockly/title.png);
  background-size: 300px 240px;
  width: 300px;
  height: 240px;
}
