<div class="tab-holder">
  <div class="unit" ng-repeat='course in Main.courses track by $id(course)' id='{{course.name}}'>
    
    <div class="tab" ng-click='toggleStatus($event)' layout='row'>
      <div class='unit-title' flex='70'>{{course.name}}</div>

      <div class='info-box'flex='30' layout='column'>
        <div class='number' layout='row'> 
          <div flex='20'></div>
          <div flex='80'>{{course.apps.length}} LESSON<span class="plural" ng-if="course.apps.length > 1">S</span></div>
        
        </div>
        <div class='expand' layout='row'>
          <div flex='20'></div>
          <div flex='10'><span ng-hide='active'>+</span><span ng-show='active'>-</span></div>
          <div flex='70'><span ng-hide='active'>EXPAND</span><span ng-show='active'>CLOSE</span></div>
        </div>
      </div>

    </div>
    
    <div expandable class="lesson-holder animate-show">
      
      <div ng-repeat='app in course.apps' class='lesson' layout='column'>
        <a ng-href="{{app.name}}" ng-click="scrollTop()">
        <div class="divider" ng-if='$first'></div>
        <div class="lesson-wrapper" ng-class='{"last-lesson" : $last}'>
          <span class='lesson-title'>{{$index + 1}}. {{app.title}}</span><span class='lesson-description'>{{app.description}}</span>
        </div>
        <div class="divider" ng-if='!$last'></div>
        </a>
      </div>
      
    </div>

  </div>
</div>

