a {
  text-decoration: none;
}

body {
  background: url('site_background1.png');
  background-position: 0px -120px;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

#main {
  width: 100%;
  min-height: 1400px;
}

#main md-toolbar.md-default-theme {
  background-color: #f6f6f6;
  position: fixed;
  width: 100%;
  height: 60px;
}

#getCoding {
  background: url('getcodinglogo.png') no-repeat;
  width: 188px;
  height: 45px;
  margin-top: 11px;
}

#by9dots {
  float: right;
  background: url('by9dots.png') no-repeat;
  background-image: 188px 45px;
  width: 188px;
  height: 45px;
  margin-top: 11px;
}

.intro {
  max-width: 1100px;
  height: 334px;
  margin: 0 auto 0 auto;
}

.letsgetcoding {
  background: url('letsgetcoding.png');
  margin: 180px auto 0px auto;
  width: 662px;
  height: 115px;
}

.tab-holder {
  margin: 0 auto 0 auto;
  max-width: 1100px;
  height: auto;
}

.unit {
  width: 100%;
  height: 100%;
}

.tab {
  width: 100%;
  height: 150px;
  color: white;
  margin-top: 25px;
}

.unit-title {
  background: white;
  font-size: 42px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  height: 100%;
  padding: 0 40px;
}

.unit-title .unit-subtitle {
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}


.unit:nth-child(n) .unit-title{
  color: rgba(153, 204, 102, 1);
}

.unit:nth-child(2n) .unit-title{
  color: rgba(255, 204, 51, 1);
}

.unit:nth-child(3n) .unit-title{
  color: rgba(102, 153, 204, 1);
}

.unit:nth-child(4n) .unit-title{
  color: rgba(255, 102, 51, 1);
}


.unit:nth-child(n) .number{
  background: rgba(170, 206, 89, 1);
}

.unit:nth-child(2n) .number{
  background: rgba(247, 179, 59, 1);
}

.unit:nth-child(3n) .number{
  background: rgba(94, 175, 202, 1);
}

.unit:nth-child(4n) .number{
  background: rgba(242, 100, 70, 1);
}


.unit:nth-child(n) .expand{
  background: rgba(160, 194, 84, 1);
}

.unit:nth-child(2n) .expand{
  background: rgba(231, 166, 55, 1);
}

.unit:nth-child(3n) .expand{
  background: rgba(90, 167, 192, 1);
}

.unit:nth-child(4n) .expand{
  background: rgba(218, 90, 63, 1);
}

.unit .expand div span {
  line-height: 100%;
}


.info-box > div {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
}

.info-box {
  height: 150px;
}

.expand div span {
  text-align: center;
}

.lesson-holder {
  height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.lesson {
  width: 100%;
  height: 100px;
  background: white;
  color: black;
}

.lesson-wrapper {
  border: 1px solid transparent;
}

.lesson-wrapper:hover {
  border:1px solid rgba(0,0,0,0.3);
}

.lesson-wrapper {
  width: 100%;
  height: 98px;
}

.last-lesson {
  height: 100px;
}

.lesson-title {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  line-height: 3.5em;
  color: #666666;
  margin-left: 40px;
}

.lesson-description {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  line-height: 5.4em;
  font-style: italic;
  color: #999999;
  margin-left: 20px;
}

.divider {
  width: 100%;
  height: 2px;
  background: #f6f6f6;
}

#main h2 {
  margin: 0;
  font-size: 2.0em;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.on {
  transition: all .5s ease-in-out;
}
