body {
  background-color: #e3e3e3;
}

a {
  text-decoration: none;
}

#main {
  background-color: #e3e3e3;
}

#logo {
  background-image: url('./getCoding.png');
  background-size: 150px 32px;
  width: 150px;
  height: 32px;
  margin-left: 8px;
}

#main #logo {
  width: 150px;
}

#main #logo-9dots {
  background-image: url('./9DotsHorizontal.png');
  background-size: 119px 32px;
  width: 119px;
  height: 32px;
  margin-left: 8px;
  margin-right: 8px;
}

#main .logo {
  font-size: 100px;
}

#main .apps {
  max-width: 864px;
  margin: 0 auto;
}

#main md-card {
  width: 800px;
  background-color: white;
  margin: 18px;
  padding: 0;
}

#main md-toolbar.md-default-theme {
  background-color: #f6f6f6;
  color: #333;
}

#main .info {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

#main h2 {
  margin-top: 1.3em;
  margin-bottom: 0;
  font-size: 2.0em;
}

#main .author {
  line-height: .5;
}

#main md-card md-divider {
  margin-top: 1.0em;
}

.play {
  color: #6ab8e5;
}

i.play {
  margin-left: 3px;
}

.play-button {
  margin-top: 1.0em;
}

md-toolbar.gc-color {
  background-color: #6ab8e5;
}

.mdi-1p5x {
  font-size: 1.5em;
}

.app-title {
  margin-left: .7em;
}






