/**
 * Space man logo.
 */


#spaceman-sequencing-blockly .title-left {
  background-image: url(/apps/space-man-blockly/space-man-blockly-title.png);
  background-size: 339px 271px;
  width: 300px;
  height: 271px;
}
